.footer{
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 20px 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-content p {
  margin: 5px 0;
  line-height: 1.5;
}

.footert-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content a {
  color: #3498db;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #ff5733;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .nav-link{
    font-weight: 600;
    text-transform: uppercase;
  }

  .github-info {
    color: #333;
    font-family: 'Arial', sans-serif;
  }

  .github-info h5 {
    margin: 0;
    font-size: 18px;
  }

  .github-info p {
    margin: 0;
    font-size: 14px;
  }